In [1]:
import pandas as pd

pd.options.display.max_columns = None

In [1]:
!ls

bookings.csv  bookings.csv.bz2	challenge.ipynb  searches.csv  searches.csv.bz2

In [2]:
!cat bookings.csv | wc -l

10000011

In [3]:
!cat searches.csv | wc -l

20390198

In [9]:
!tail -5 searches.csv

2013-10-13^12:34:56^MPT^90e8ff571fc484463158eae496711466^SE^GOT^NBO^1^2^GOT^NBO^2013-12-05^^^NBO^GOT^2014-02-28^^^^^^^^^^^^^^^^^^^^^^^1ASIWS^0^0^0^d41d8cd98f00b204e9800998ecf8427e^0
2013-10-13^10:03:58^FXP^9530f0a7e694bc9402885b4fa7e094bd^TR^DUS^ALA^1^4^DUS^IST^2013-12-16^EU^L^IST^ALA^2013-12-16^EU^L^ALA^IST^2013-12-24^EU^E^IST^DUS^2013-12-25^EU^E^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^0
2013-10-13^14:11:34^FXP^594fed8de13248512f6cf4cf9f6fc915^KW^KWI^LHR^1^2^KWI^LHR^2013-11-26^LK^F^LHR^KWI^2013-12-06^LK^F^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^0
2013-10-13^05:47:30^MPT^e175ff926640d0f543bb15f8b4a88ed0^US^MFE^MAD^0^1^MFE^MAD^2014-05-30^LK^^^^^^^^^^^^^^^^^^^^^^^^^^^1ASI^0^0^0^d41d8cd98f00b204e9800998ecf8427e^0
2013-10-13^18:57:54^MTP^e41c9d833aa74600552f2ed688b67d81^AT^VIE^HA

In [10]:
!tail -5 bookings.csv

2013-05-18 00:00:00^1A    ^LK      ^1a5585bef21f0bf8dc865a87843635f9^6ff8fd087f94799d7aed903683384775^3b339797f7eca14c24e8b7565da822c0^2013-05-14 00:00:00^13203^0^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^CMBMAA  ^CMBMAA  ^INLK    ^1^MAACMB         ^FV^V        ^Y        ^2013-05-24 16:05:00^2013-05-24 17:38:39^-1^2013^5^NULL
2013-05-18 00:00:00^1A    ^LK      ^1a5585bef21f0bf8dc865a87843635f9^6ff8fd087f94799d7aed903683384775^3b339797f7eca14c24e8b7565da822c0^2013-05-14 00:00:00^6003^0^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^MAA     ^MAA     ^IN      ^CMB     ^CMB     ^LK      ^CMBMAA  ^CMBMAA  ^INLK    ^1^MAACMB         ^FV^V        ^Y        ^2013-05-19 16:05:00^2013-05-19 17:38:39^1^2013^5^NULL
2013-05-28 00:00:00^1A    ^US      ^07e98d2fd3cd4b737266b99727f7faa8^e8741eaf2fa2f71f931475d18fa72096^2b22597bdad931843c3b1d5219836e07^2013-05-28 00:00:00^328^1865^AUS     ^AUS     ^US      ^RDU     ^RDU     ^US      ^RDU     ^RDU     ^US      ^AUS     ^AUS     ^US      ^RDU     ^RDU     ^US      ^AUSRDU  ^AUSRDU  ^USUS    ^0^AUSDFWRDU      ^KK^Q        ^Y        ^2013-07-12 08:35:00^2013-07-12 15:03:14^1^2013^5^SEAEX38AA
2013-05-28 00:00:00^1A    ^FR      ^e2679367673d50f1ee085127d8a00eba^5f26f53ca29672815e0ee3bd93a2b0e4^4eb40315a7263131ae17712cd505b62a^2013-05-28 00:00:00^588^0^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^TLS     ^TLS     ^FR      ^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^ORYTLS  ^PARTLS  ^FRFR    ^0^TLSORY         ^KP^S        ^Y        ^2013-06-04 10:50:00^2013-06-04 12:18:20^1^2013^5^LYSSR210Z
2013-05-28 00:00:00^1A    ^FR      ^e2679367673d50f1ee085127d8a00eba^5f26f53ca29672815e0ee3bd93a2b0e4^4eb40315a7263131ae17712cd505b62a^2013-05-28 00:00:00^588^0^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^TLS     ^TLS     ^FR      ^ORY     ^PAR     ^FR      ^TLS     ^TLS     ^FR      ^ORYTLS  ^PARTLS  ^FRFR    ^0^ORYTLS         ^KP^S        ^Y        ^2013-06-04 19:10:00^2013-06-04 20:38:20^1^2013^5^LYSSR210Z

In [ ]:
df1 = pd.read_csv('bookings.csv', index_col=0)
df1.head(5)

In [ ]:
df2 = pd.read_csv('searches.csv', index_col=0)
df1.head(5)

In [3]:
#df1 = pd.read_csv('bookings.csv.bz2', compression='bz2', header=0, sep='^')
#df1.head(5)

In [ ]:
df2 = pd.read_csv('searches.csv.bz2', compression='bz2', header=0, sep='^')

In [2]:
pd.read_csv?

In [3]:
i = 0;
for chunk in pd.read_csv('bookings.csv.bz2', compression='bz2', header=0, sep='^', chunksize=10000):
    i = i + len(chunk.index)
    
print(i)

10000010

In [4]:
i = 0;
for chunk in pd.read_csv('searches.csv.bz2', compression='bz2', header=0, sep='^', chunksize=10000):
    i = i + len(chunk.index)
    
print(i)

20390198

In [ ]:
import bz2

with bz2.BZ2File('searches.csv.bz2') as fileBz2:
    k = 0
    for line in fileBz2:
        k+=1

print(k);

fileBz2.close

In [ ]:
import json
import 
>>> df = pd.DataFrame.from_dict({'A': {1: datetime.datetime.now()}})
>>> df

for chunk in pd.read_csv('searches.csv.bz2', compression='bz2', header=0, sep='^', chunksize=10000):
    records = json.loads(df.T.to_json()).values()
    db.myCollection.insert(records)

In [ ]:
col_list = ['arr_port','pax']

for chunk in pd.read_csv('bookings.csv.bz2', compression='bz2', header=0, sep='^', chunksize=10000, usecols=col_list):        
    break;
    
#for chunk in pd.read_csv('bookings.csv.bz2', compression='bz2', header=0, sep='^', chunksize=10000, names=heads):

    #break;
    
# pd.read_csv("path/to/file.txt", sep='\t', names=["Sequence", "Start", "End", "Coverage"])
chunk['arr_port'] = chunk['arr_port'].str.strip()
chunk['arr_port'] = chunk['arr_port'].str.upper()

#chunk['pax'] = chunk['pax'].str.strip()

chunk.dropna();

chunk.groupby(['arr_port'])['pax'].sum().reset_index()

#chunk['arr_port'].unique()

In [12]:
chunk.groupby?

In [16]:
pd.read_csv?

In [23]:
col_list = ['arr_port','pax']
dfaux = pd.DataFrame(columns = col_list)

for chunk in pd.read_csv('bookings.csv.bz2', compression='bz2', header=0, sep='^', chunksize=10000, usecols=col_list):        
    chunk['arr_port'] = chunk['arr_port'].str.strip()
    chunk['arr_port'] = chunk['arr_port'].str.upper()
    chunk.dropna()
    dfaux2 = chunk.groupby(['arr_port'])['pax'].sum().reset_index()
    dfaux = dfaux.append(dfaux2,ignore_index=True)
    
#df['DataFrame Column'] = df['DataFrame Column'].astype(int)

dfaux.groupby(['arr_port'])['pax'].sum().reset_index().sort_values(by=['pax'], ascending=False).head(10)

     arr_port      pax
1088      LHR  88809.0
1190      MCO  70930.0
1050      LAX  70530.0
1047      LAS  69630.0
886       JFK  66270.0
315       CDG  64490.0
216       BKK  59460.0
1228      MIA  58150.0
1719      SFO  58000.0
517       DXB  55590.0

In [2]:
pd.merge?

In [13]:
chunk.append?

In [5]:
chunk.dropna?